<div class="row">
    <div class="col-10">
        <button *ngIf="!isOpen" (click)="toggleForm()" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i></button>
        <div class="card" *ngIf="isOpen">
            <div class="card-header">Review Form</div>
            <div class="card-body">
                <form [formGroup]="reviewForm" (submit)="handleSubmit($event)">
                    <div class="form-group">
                        <label>Author</label>
                        <input class="form-control" formControlName="author" />
                    </div>
                    <div class="form-group">
                        <label>Stars</label>
                        <select class="form-control" formControlName="stars">
                            <option *ngFor="let n of [1,2,3,4,5]" [value]="n">{{n}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea class="form-control" formControlName="body"></textarea>
                    </div>
                    <button class="btn btn-dark">submit</button>
                    <button (click)="toggleForm()" class="btn btn-default">cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>