<div class="container">
    <div class="card is-fullheight">
        <div class="card-header">
            <div class="card-header-title">Voting dashboard</div>
        </div>
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <app-voting-item value="Angular"></app-voting-item>
                </div>
                <div class="column">
                    <app-voting-item value="React"></app-voting-item>
                </div>
                <div class="column">
                    <app-voting-item value="Vue"></app-voting-item>
                </div>
            </div>
            <hr />
            <app-voting-summary></app-voting-summary>
        </div>
    </div>
</div>